div{
	border: 1px solid grey;
	margin: 20px;
}

/*Se le pone class="clearfix" a los contenedores que tienen elementos float en su interior*/
.clearfix:before,	
.clearfix:after	{
	/*fuerza a que los elementos clearfix tengan un elemento table al principio y al final */
	content:	"";
	display:	table;
}
.clearfix:after	{clear:	both;}
.clearfix		{zoom:	1;}

.conteiner 
{
	border: 1px solid gray;
}

.fleft
{
	position: float;
	float: left;
}

.fright
{
	position: float;
	float: right;
}

.box
{
	position: absolute;
	top: 25;
	left: 200;
}